@CHARSET "ISO-8859-1";

body {
	font-family: sans-serif;
	font-size: small;
}

.objectContainer {
	border-style: solid;
	border-width: thin;
	border-color: black;
}

.objectHeader {
	background-color: silver;
	color: black;
	font-weight: bold;
	height: 18px;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: gray;
}

.objectBody {
	padding: 3px;
}

.objectProperty {
	padding-top: 3px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: gray;
}